<main id="content" role="main">
    <!-- Hero Section -->
    <div class="overflow-hidden">
      <div class="container space-top-1 space-top-md-2 space-bottom-3">
        <div class="row justify-content-lg-between align-items-md-center">
          <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
            <div class="mb-5">
              <span class="d-block small font-weight-bold text-cap mb-2">Who we are?</span>
              <h1 class="display-4 mb-3">Database Design that inspires</h1>
              <p class="lead">Our aim is to deliver the most outstanding work in Database Design.</p>
            </div>
            <a class="js-go-to position-static btn btn-primary btn-wide transition-3d-hover" href="javascript:;"
               data-hs-go-to-options='{
                "targetSelector": "#caseStudies",
                "offsetTop": 0,
                "position": null,
                "animationIn": false,
                "animationOut": false
               }'>
              Case Studies
            </a>
            <a class="btn btn-link btn-wide" href="#">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></a>
          </div>

          <div class="col-md-6">
            <div class="position-relative">
              <img class="img-fluid rounded" src="../../assets/svg/components/abstract-shapes-16.svg" alt="Image Description">
              <div class="position-absolute top-0 right-0 w-100 h-100 bg-soft-primary rounded z-index-n1 mt-5 mr-n5"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->


    <!-- End Signup Form Section -->
  </main>