<app-adminpanel></app-adminpanel>

<div class="main">
 <h1 style="text-align:center;"><span>Dashboard</span></h1><br><br><br><br>

 
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g2.jpg"> -->
      <!-- <img src="/assets/g2.jpg" alt="" width="800" height="600"> -->   
    <!-- </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(99, 83, 179);">Trainee</h1><br>
    <h3 style="text-align:center;">Total Trainee: 15</h3>
    <h3 style="text-align:center;">Newely Added: 5</h3><br>
    <button class="button btn btn-primary" (click)="trainee()">Go to Page</button>
  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/G1.jpg">
      <img src="/assets/G1.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(92, 85, 209);">Instructor</h1><br>
    <h3 style="text-align:center;">Total Instructor: 12</h3>
    <h3 style="text-align:center;">Newely Added: 3</h3><br>
    <button class="button btn btn-primary" (click)="faculties()">Go to Page</button>

  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(86, 107, 210);">All Supervisor</h1><br>
    <h3 style="text-align:center;">Total Supervisor: 8</h3>
    <h3 style="text-align:center;">Newely Supervisor Added: 2</h3><br>
    <button class="button btn btn-primary" (click)="supervisor()">Go to Page</button>
  </div>

  <div class="gallery">
    <!-- <a target="_blank" href="/assets/g3.jpg">
      <img src="/assets/g3.jpg" alt="" width="800" height="600">
    </a> -->
    <!--<div class="desc">Add a description of the image here</div>-->
    <h1 style="text-align:center;color: rgb(90, 83, 193);">TSP</h1><br>
    <h3 style="text-align:center;">Total TSP: 3</h3>
    <h3 style="text-align:center;">Newely Added: 1</h3><br>
    <button class="button btn btn-primary" (click)="courses()">Go to Page</button>
  </div><br><br><p>&nbsp;&nbsp;&nbsp;</p>
</div>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>